body{
    font-family:system-ui;
    margin:0;
    padding:12px;
    background:#f3f4f8;
}

h1{ text-align:center; }

.is-hidden {
    display: none;
}

#topBar{
    position:sticky;
    top:0;
    z-index:1000;

    background:white;
    padding:10px 12px;

    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

#workspace{
    height:calc(100vh - 160px);
    overflow:auto;
}

.controls,.tools{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    justify-content:center;
    margin-bottom:10px;
}

button{
    padding:10px 14px;
    border-radius:10px;
    border:none;
    background:#2563eb;
    color:white;
    font-size:14px;
    cursor: pointer;
    transition:.15s;
}

button.inactive{
    background:#6b7280;
}

.math {
    font-size: 1.8rem;
    text-align: center;
    margin: 20px 0;
    padding: 12px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow:0 6px 18px rgba(0,0,0,.12);
}

canvas{
    width:100%;
    height:60vh;
    border-radius:14px;
    border:2px solid #d1d5db;
    touch-action:none;
}

/* =========================
   List Panel
========================= */

.list-panel{
    max-width:420px;
    margin:12px auto;
    padding:14px 16px;
    background:white;
    border-radius:16px;
    box-shadow:0 6px 18px rgba(0,0,0,.12);
}

.list-panel h3{
    margin:0 0 10px 0;
    text-align:center;
}

.list-item{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:6px 4px;
    border-radius:8px;
}

.list-item:hover{
    background:#f3f4f6;
}

.list-item input{
    transform:scale(1.2);
}

.blacklist-item{
    accent-color: red;
}

.item-disabled{
    opacity:.4;
}

.item-blacklisted span{
    text-decoration: line-through;
}




/* =========================
   Stopwatch card
========================= */

.stopwatch{
    display:none;
    margin:12px auto;
    padding:14px;
    width:300px;
    background:white;
    border-radius:18px;
    box-shadow:0 6px 18px rgba(0,0,0,.12);
    text-align:center;
    transition: all 0.3s ease;
}

.stopwatch.compressed {
    width: 200px;
    padding: 8px;
    border-radius: 50px;
    font-size: 16px;
}

#time{
    font-size:34px;
    font-weight:600;
    margin-bottom:10px;
    display:block;
}

.stopwatch.compressed #time {
    font-size: 18px;
    margin-bottom: 4px;
}

.controls button {
    transition: all 0.3s ease;
}

.stopwatch.compressed .text {
    display: none;
}
.stopwatch.compressed .icon {
    display: inline-block;
}